* {
    margin: 0;
    padding: 0;
}

.content{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.content > div{
    flex: 1;
    height: 300px;
    min-width: 300px;
    max-width: 300px;
    margin: 10px;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 150px;
    background: rgba(15, 15, 15, 0.479);
    margin-bottom: 10px;

}